<a href="https://colab.research.google.com/github/ahshawaf/AML/blob/master/Project1_Alshawaf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#Required python version >= 3.5
import sys
assert sys.version_info >= (3,5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

#to plot pretty figures
%matplotlib
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rc('axes', labelsize = 14)
mpl.rc('xtick', labelsize = 12)
mpl.rc('ytick', labelsize = 12)

#where to save figures
PROJECT_ROOT_DIR = "."
PROJECT_ID = "project1"
PORJECT_DIR = os.path.join(PROJECT_ROOT_DIR,"projects",PROJECT_ID)
os.makedirs(PORJECT_DIR,exist_ok=True)

def save_fig(fig_id, tight_layout = True, fig_extension = 'png', resolution = 300):
  path = os.path.join(PORJECT_DIR,fig_id + "." + fig_extension)
  print("saving figure", fig_id)
  if tight_layout:
    plt.tight_layout()
  plt.savefig(path,format = fig_extension,dpi = resolution)

# Ignore useless warnings
import warnings
warnings.filterwarnings(action = "ignore",message = "^internal glad")

Using matplotlib backend: agg

# Get the data

In [0]:
import os
import tarfile
import urllib
import pandas as pd


HOST_ROOT = "https://archive.ics.uci.edu/ml/machine-learning-databases/wine/"
DATA_FILE = "wine.data"
DATA_URL = os.path.join(HOST_ROOT,DATA_FILE)

DATASET_PATH = os.path.join(PORJECT_DIR,"dataset")

def fetch_data(data_url = DATA_URL,dataset_path = DATASET_PATH):
  if not os.path.isdir(dataset_path):
    os.mkdir(dataset_path)
  data = pd.read_csv(data_url,header=None,index_col=False,
                     names=['Class','Alcohol','Malic acid','Ash','Alcalinity of ash',
                            'Magnesium','Total phenols','Flavanoids',
                            'Nonflavanoid phenols','Proanthocyanins',
                            'Color intensity','Hue','OD280/OD315 of diluted wines',
                            'Proline'])
  
  data.to_csv(os.path.join(dataset_path,"wineData.csv"))
  return data

In [167]:
d=fetch_data()
d

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0        1    14.23        1.71  ...  1.04                          3.92     1065
1        1    13.20        1.78  ...  1.05                          3.40     1050
2        1    13.16        2.36  ...  1.03                          3.17     1185
3        1    14.37        1.95  ...  0.86                          3.45     1480
4        1    13.24        2.59  ...  1.04                          2.93      735
..     ...      ...         ...  ...   ...                           ...      ...
173      3    13.71        5.65  ...  0.64                          1.74      740
174      3    13.40        3.91  ...  0.70                          1.56      750
175      3    13.27        4.28  ...  0.59                          1.56      835
176      3    13.17        2.59  ...  0.60                          1.62      840
177      3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]

In [0]:
def load_wine_data(dataset_path = DATASET_PATH):
  return fetch_data(DATA_URL,dataset_path)

In [0]:
wineData = load_wine_data()

In [171]:
wineData

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0        1    14.23        1.71  ...  1.04                          3.92     1065
1        1    13.20        1.78  ...  1.05                          3.40     1050
2        1    13.16        2.36  ...  1.03                          3.17     1185
3        1    14.37        1.95  ...  0.86                          3.45     1480
4        1    13.24        2.59  ...  1.04                          2.93      735
..     ...      ...         ...  ...   ...                           ...      ...
173      3    13.71        5.65  ...  0.64                          1.74      740
174      3    13.40        3.91  ...  0.70                          1.56      750
175      3    13.27        4.28  ...  0.59                          1.56      835
176      3    13.17        2.59  ...  0.60                          1.62      840
177      3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]