<a href="https://colab.research.google.com/github/ahshawaf/AML/blob/master/Project5_Alshawaf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_predict, cross_val_score
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import SGDClassifier
from sklearn.metrics import confusion_matrix
from keras.utils import to_categorical

In [0]:
df = pd.read_csv('diabetic_data.csv')

Get the size of the dataframe

In [0]:
len(df)

101766

In [0]:
df.shape

(101766, 50)

In [0]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed readmitted
0       2278392      8222157        Caucasian  ...     No          No         NO
1        149190     55629189        Caucasian  ...     Ch         Yes        >30
2         64410     86047875  AfricanAmerican  ...     No         Yes         NO
3        500364     82442376        Caucasian  ...     Ch         Yes         NO
4         16680     42519267        Caucasian  ...     Ch         Yes         NO

[5 rows x 50 columns]

In [0]:
df.describe()

       encounter_id   patient_nbr  ...  number_inpatient  number_diagnoses
count  1.017660e+05  1.017660e+05  ...     101766.000000     101766.000000
mean   1.652016e+08  5.433040e+07  ...          0.635566          7.422607
std    1.026403e+08  3.869636e+07  ...          1.262863          1.933600
min    1.252200e+04  1.350000e+02  ...          0.000000          1.000000
25%    8.496119e+07  2.341322e+07  ...          0.000000          6.000000
50%    1.523890e+08  4.550514e+07  ...          0.000000          8.000000
75%    2.302709e+08  8.754595e+07  ...          1.000000          9.000000
max    4.438672e+08  1.895026e+08  ...         21.000000         16.000000

[8 rows x 13 columns]

Check is there is a null values in columns

In [0]:
df.isnull().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

As from the above there is no null values.

Check if there is na value in the dataframe

In [0]:
df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
weight                      0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
payer_code                  0
medical_specialty           0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

From the above, there is no na value in dataframe

From the sample data above, the missing data were marked as '?'. Let see in the dataframe and count them.

In [0]:
missing_data=df.isin(['?']).sum()
missing_data

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

Calculate the percentage of the missing for the column that has that.

In [0]:
def cal_Percentage(attributeName,missing_data=missing_data,dataFrame=df):
    print('{0}: {1:.2f} % missing data'.format(attributeName,missing_data[attributeName]/len(df)*100))

In [0]:
for att in missing_data.keys():
  if missing_data[att] > 0:
    cal_Percentage(att)

race: 2.23 % missing data
weight: 96.86 % missing data
payer_code: 39.56 % missing data
medical_specialty: 49.08 % missing data
diag_1: 0.02 % missing data
diag_2: 0.35 % missing data
diag_3: 1.40 % missing data

From the above, it shows that the follwing attributes has missing data:
1.   race 2%
2.   weight 97%
3.   payer_code 40% 
4.   medical_specialty 49%
5.   diag_1 0.02%
6.   diag_2 0.35%
7.   diag_3 1.40%

For the attribute 'race', let see the distinct value to see how to deal with the missing values

In [0]:
race_values=df['race'].value_counts()
race_values

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

It could be concluded that the missing values could be replaces with the value Other as it is not a race rethar than 'Caucasian', 'AfricanAmerican', 'Hispanic', and 'Asian'.

Now, let replace the missing value '?' with the value 'Other'

First, get the key value of the 'Other' and the missing value '?'

In [0]:
other_value=race_values.keys()[4]
other_value

'Other'

In [0]:
missing_value=race_values.keys()[2]
missing_value

'?'

Replace the '?' with the value 'Other'

In [0]:
race_replaced_missing_values = df['race'].replace(missing_value, 
                 other_value)

In [0]:
race_replaced_missing_values

0               Caucasian
1               Caucasian
2         AfricanAmerican
3               Caucasian
4               Caucasian
               ...
101761    AfricanAmerican
101762    AfricanAmerican
101763          Caucasian
101764          Caucasian
101765          Caucasian
Name: race, Length: 101766, dtype: object

Check the output from the replace function

In [0]:
race_replaced_missing_values.value_counts()

Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Name: race, dtype: int64

Assign the output to the column 'race' which has replaced the '?' with 'Other'

In [0]:
df['race'] = race_replaced_missing_values

Check the distinct values of the column 'race'

In [0]:
df['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
Other               3779
Hispanic            2037
Asian                641
Name: race, dtype: int64

So, now the race column has no missing value

In [0]:
df.isin([missing_value]).sum()

encounter_id                    0
patient_nbr                     0
race                            0
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum                   0
A1Cresult                       0
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [0]:
df['medical_specialty'].value_counts()

?                                   49949
InternalMedicine                    14635
Emergency/Trauma                     7565
Family/GeneralPractice               7440
Cardiology                           5352
                                    ...
Psychiatry-Addictive                    1
SportsMedicine                          1
Neurophysiology                         1
Dermatology                             1
Surgery-PlasticwithinHeadandNeck        1
Name: medical_specialty, Length: 73, dtype: int64

Now, for the columns 
- weight (which is in Weight in pounds)

- payer_code (which is an Integer identifier corresponding to 23 distinct values, for example, Blue Cross/Blue Shield, Medicare, and self-pay)

- medical_specialty (which is an Integer identifier of a specialty of the admitting physician, corresponding to 84 distinct values, for example, cardiology, internal medicine, family/general practice, and surgeon)

are to be deleted as these data could not affecte the predection accuracy. Because the waight column most of the data is missing, 97% missing data. For the other two attributes, payer_code and medical_specialty, are just codes.

In [0]:
df.drop({'weight','payer_code','medical_specialty'}, axis=1, inplace=True)

Check the result of drop function.

In [0]:
df.shape

(101766, 47)

In [0]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed  readmitted
0       2278392      8222157        Caucasian  ...     No          No          NO
1        149190     55629189        Caucasian  ...     Ch         Yes         >30
2         64410     86047875  AfricanAmerican  ...     No         Yes          NO
3        500364     82442376        Caucasian  ...     Ch         Yes          NO
4         16680     42519267        Caucasian  ...     Ch         Yes          NO

[5 rows x 47 columns]

In [0]:
df.isin([missing_value]).sum()

encounter_id                   0
patient_nbr                    0
race                           0
gender                         0
age                            0
admission_type_id              0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
diag_1                        21
diag_2                       358
diag_3                      1423
number_diagnoses               0
max_glu_serum                  0
A1Cresult                      0
metformin                      0
repaglinide                    0
nateglinide                    0
chlorpropamide                 0
glimepiride                    0
acetohexamide                  0
glipizide                      0
glyburide                      0
tolbutamide                    0
pioglitazone                   0
rosiglitazone                  0
acarbose                       0
miglitol                       0
troglitazone                   0
tolazamide                     0
examide                        0
citoglipton                    0
insulin                        0
glyburide-metformin            0
glipizide-metformin            0
glimepiride-pioglitazone       0
metformin-rosiglitazone        0
metformin-pioglitazone         0
change                         0
diabetesMed                    0
readmitted                     0
dtype: int64

Now the df has only the follwing columns has missing data remaining:
diag_1                        
diag_2                        
and diag_3

In [0]:
df.replace(missing_value, np.nan,inplace=True)

Now check if the missing_value '?' is replaced with 'NaN'

In [0]:
df.isin([missing_value]).sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

In [0]:
df.isna().sum()

encounter_id                   0
patient_nbr                    0
race                           0
gender                         0
age                            0
admission_type_id              0
discharge_disposition_id       0
admission_source_id            0
time_in_hospital               0
num_lab_procedures             0
num_procedures                 0
num_medications                0
number_outpatient              0
number_emergency               0
number_inpatient               0
diag_1                        21
diag_2                       358
diag_3                      1423
number_diagnoses               0
max_glu_serum                  0
A1Cresult                      0
metformin                      0
repaglinide                    0
nateglinide                    0
chlorpropamide                 0
glimepiride                    0
acetohexamide                  0
glipizide                      0
glyburide                      0
tolbutamide                    0
pioglitazone                   0
rosiglitazone                  0
acarbose                       0
miglitol                       0
troglitazone                   0
tolazamide                     0
examide                        0
citoglipton                    0
insulin                        0
glyburide-metformin            0
glipizide-metformin            0
glimepiride-pioglitazone       0
metformin-rosiglitazone        0
metformin-pioglitazone         0
change                         0
diabetesMed                    0
readmitted                     0
dtype: int64

In [0]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed  readmitted
0       2278392      8222157        Caucasian  ...     No          No          NO
1        149190     55629189        Caucasian  ...     Ch         Yes         >30
2         64410     86047875  AfricanAmerican  ...     No         Yes          NO
3        500364     82442376        Caucasian  ...     Ch         Yes          NO
4         16680     42519267        Caucasian  ...     Ch         Yes          NO

[5 rows x 47 columns]

So, not the '?' is replced with 'NaN'

Now, delete the rows that has 'NaN'. It is going to delete the rows that has either one 'NaN' value or more in the columns diag_1, diag_2,  and diag_3 as they are only the columns has 'NaN' value.

In [0]:
df.dropna(axis=0,inplace=True)

Check the result after droping 'NaN'

In [0]:
df.shape

(100244, 47)

In [0]:
df.head()

   encounter_id  patient_nbr             race  ... change diabetesMed  readmitted
1        149190     55629189        Caucasian  ...     Ch         Yes         >30
2         64410     86047875  AfricanAmerican  ...     No         Yes          NO
3        500364     82442376        Caucasian  ...     Ch         Yes          NO
4         16680     42519267        Caucasian  ...     Ch         Yes          NO
5         35754     82637451        Caucasian  ...     No         Yes         >30

[5 rows x 47 columns]

Check if there is a missing data

In [0]:
df.isna().sum()

encounter_id                0
patient_nbr                 0
race                        0
gender                      0
age                         0
admission_type_id           0
discharge_disposition_id    0
admission_source_id         0
time_in_hospital            0
num_lab_procedures          0
num_procedures              0
num_medications             0
number_outpatient           0
number_emergency            0
number_inpatient            0
diag_1                      0
diag_2                      0
diag_3                      0
number_diagnoses            0
max_glu_serum               0
A1Cresult                   0
metformin                   0
repaglinide                 0
nateglinide                 0
chlorpropamide              0
glimepiride                 0
acetohexamide               0
glipizide                   0
glyburide                   0
tolbutamide                 0
pioglitazone                0
rosiglitazone               0
acarbose                    0
miglitol                    0
troglitazone                0
tolazamide                  0
examide                     0
citoglipton                 0
insulin                     0
glyburide-metformin         0
glipizide-metformin         0
glimepiride-pioglitazone    0
metformin-rosiglitazone     0
metformin-pioglitazone      0
change                      0
diabetesMed                 0
readmitted                  0
dtype: int64

So, there is no missing data.

Now, the ids columns are going to be deleted as there are just ids and cannot affect the predection accuracy. Also, to reduce the data complexity.

In [0]:
df.drop({'encounter_id','patient_nbr','admission_type_id','discharge_disposition_id','admission_source_id'},axis=1,inplace=True)

In [0]:
df.shape

(100244, 42)

the df not reduced from 47 columns to 42 after deleting the ids columns

Now, lebel encode the data object columns only.

In [0]:
columns_obj=df.select_dtypes(object).columns
columns_obj

Index(['race', 'gender', 'age', 'diag_1', 'diag_2', 'diag_3', 'max_glu_serum',
       'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [0]:
attr_their_cat = {}
la = LabelEncoder()
for column in columns_obj:
 df[column] = la.fit_transform(df[column])
 attr_their_cat[column] = la.classes_
df.shape

(100244, 42)

In [0]:
attr_their_cat

{'A1Cresult': array(['>7', '>8', 'None', 'Norm'], dtype=object),
 'acarbose': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'acetohexamide': array(['No', 'Steady'], dtype=object),
 'age': array(['[0-10)', '[10-20)', '[20-30)', '[30-40)', '[40-50)', '[50-60)',
        '[60-70)', '[70-80)', '[80-90)', '[90-100)'], dtype=object),
 'change': array(['Ch', 'No'], dtype=object),
 'chlorpropamide': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'citoglipton': array(['No'], dtype=object),
 'diabetesMed': array(['No', 'Yes'], dtype=object),
 'diag_1': array(['10', '11', '110', '112', '114', '115', '117', '131', '133', '135',
        '136', '141', '142', '143', '145', '146', '147', '148', '149',
        '150', '151', '152', '153', '154', '155', '156', '157', '158',
        '160', '161', '162', '163', '164', '170', '171', '172', '173',
        '174', '175', '179', '180', '182', '183', '184', '185', '187',
        '188', '189', '191', '192', '193', '194', '195', '196', '197',
        '198', '199', '200', '201', '202', '203', '204', '205', '207',
        '208', '210', '211', '212', '214', '215', '216', '217', '218',
        '219', '220', '223', '225', '226', '227', '228', '229', '23',
        '230', '233', '235', '236', '237', '238', '239', '240', '241',
        '242', '244', '245', '246', '250', '250.01', '250.02', '250.03',
        '250.1', '250.11', '250.12', '250.13', '250.2', '250.21', '250.22',
        '250.23', '250.3', '250.31', '250.32', '250.33', '250.4', '250.41',
        '250.42', '250.43', '250.5', '250.51', '250.52', '250.53', '250.6',
        '250.7', '250.8', '250.81', '250.82', '250.83', '250.9', '250.91',
        '250.92', '250.93', '251', '252', '253', '255', '261', '262',
        '263', '266', '27', '271', '272', '273', '274', '275', '276',
        '277', '278', '279', '280', '281', '282', '283', '284', '285',
        '286', '287', '288', '289', '290', '291', '292', '293', '294',
        '295', '296', '297', '298', '299', '3', '300', '301', '303', '304',
        '305', '306', '307', '308', '309', '31', '310', '311', '312',
        '314', '318', '320', '322', '323', '324', '325', '327', '331',
        '332', '333', '334', '335', '336', '337', '338', '34', '340',
        '341', '342', '344', '345', '346', '347', '348', '349', '35',
        '350', '351', '352', '353', '354', '355', '356', '357', '358',
        '359', '36', '360', '361', '362', '363', '365', '366', '368',
        '369', '370', '372', '373', '374', '375', '376', '377', '378',
        '379', '38', '380', '381', '382', '383', '384', '385', '386',
        '388', '389', '39', '391', '394', '395', '396', '397', '398',
        '401', '402', '403', '404', '405', '41', '410', '411', '412',
        '413', '414', '415', '416', '417', '42', '420', '421', '422',
        '423', '424', '425', '426', '427', '428', '429', '430', '431',
        '432', '433', '434', '435', '436', '437', '438', '440', '441',
        '442', '443', '444', '445', '446', '447', '448', '451', '452',
        '453', '454', '455', '456', '457', '458', '459', '461', '462',
        '463', '464', '465', '466', '47', '470', '471', '473', '474',
        '475', '477', '478', '48', '480', '481', '482', '483', '485',
        '486', '487', '49', '490', '491', '492', '493', '494', '495',
        '496', '5', '500', '501', '506', '507', '508', '510', '511', '512',
        '513', '514', '515', '516', '518', '519', '52', '521', '522',
        '523', '524', '526', '527', '528', '529', '53', '530', '531',
        '532', '533', '534', '535', '536', '537', '54', '540', '541',
        '542', '543', '550', '551', '552', '553', '555', '556', '557',
        '558', '560', '562', '564', '565', '566', '567', '568', '569',
        '57', '570', '571', '572', '573', '574', '575', '576', '577',
        '578', '579', '58', '580', '581', '582', '583', '584', '585',
        '586', '588', '590', '591', '592', '593', '594', '595', '596',
        '598', '599', '600', '601', '602', '603', '604', '605', '607',
        '608', '61', '610', '611', '614', '615', '616', '617', '618',
        '619', '620', '621', '622', '623', '625', '626', '627', '632',
        '633', '634', '637', '640', '641', '642', '643', '644', '645',
        '646', '647', '648', '649', '652', '653', '654', '655', '656',
        '657', '658', '659', '66', '660', '661', '663', '664', '665',
        '669', '671', '674', '680', '681', '682', '683', '684', '685',
        '686', '690', '691', '692', '693', '694', '695', '696', '698', '7',
        '70', '700', '703', '704', '705', '706', '707', '708', '709',
        '710', '711', '714', '715', '716', '717', '718', '719', '720',
        '721', '722', '723', '724', '725', '726', '727', '728', '729',
        '730', '731', '732', '733', '734', '735', '736', '737', '738',
        '745', '746', '747', '75', '751', '753', '756', '759', '78', '780',
        '781', '782', '783', '784', '785', '786', '787', '788', '789',
        '79', '790', '791', '792', '793', '794', '795', '796', '797',
        '799', '8', '800', '801', '802', '803', '804', '805', '806', '807',
        '808', '810', '812', '813', '814', '815', '816', '817', '82',
        '820', '821', '822', '823', '824', '825', '826', '827', '831',
        '832', '833', '834', '835', '836', '837', '838', '839', '84',
        '840', '842', '843', '844', '845', '846', '847', '848', '850',
        '851', '852', '853', '854', '860', '861', '862', '863', '864',
        '865', '866', '867', '868', '870', '871', '873', '875', '878',
        '879', '88', '880', '881', '882', '883', '885', '886', '890',
        '891', '892', '893', '895', '897', '9', '903', '904', '906', '911',
        '913', '914', '915', '916', '917', '919', '920', '921', '922',
        '923', '924', '928', '933', '934', '935', '936', '939', '94',
        '941', '942', '944', '945', '952', '955', '957', '958', '959',
        '962', '963', '964', '965', '966', '967', '968', '969', '97',
        '970', '971', '972', '973', '974', '975', '976', '977', '98',
        '980', '982', '983', '986', '987', '988', '989', '990', '991',
        '992', '994', '995', '996', '997', '998', '999', 'E909', 'V07',
        'V25', 'V26', 'V43', 'V45', 'V51', 'V53', 'V54', 'V55', 'V56',
        'V57', 'V58', 'V60', 'V63', 'V66', 'V67', 'V71'], dtype=object),
 'diag_2': array(['11', '110', '112', '114', '115', '117', '123', '130', '131',
        '135', '136', '137', '138', '140', '141', '145', '150', '151',
        '152', '153', '154', '155', '156', '157', '162', '163', '164',
        '171', '172', '173', '174', '179', '180', '182', '183', '185',
        '186', '188', '189', '191', '192', '193', '195', '196', '197',
        '198', '199', '200', '201', '202', '203', '204', '205', '208',
        '211', '212', '214', '215', '217', '218', '220', '223', '225',
        '226', '227', '228', '232', '233', '235', '238', '239', '240',
        '241', '242', '244', '245', '246', '250', '250.01', '250.02',
        '250.03', '250.1', '250.11', '250.12', '250.13', '250.2', '250.21',
        '250.22', '250.23', '250.3', '250.31', '250.32', '250.33', '250.4',
        '250.41', '250.42', '250.43', '250.5', '250.51', '250.52',
        '250.53', '250.6', '250.7', '250.8', '250.81', '250.82', '250.83',
        '250.9', '250.91', '250.92', '250.93', '251', '252', '253', '255',
        '256', '258', '259', '260', '261', '262', '263', '266', '268',
        '269', '27', '270', '271', '272', '273', '274', '275', '276',
        '277', '278', '279', '280', '281', '282', '283', '284', '285',
        '286', '287', '288', '289', '290', '291', '292', '293', '294',
        '295', '296', '297', '298', '299', '300', '301', '302', '303',
        '304', '305', '306', '307', '308', '309', '31', '310', '311',
        '312', '314', '316', '317', '318', '319', '320', '322', '323',
        '324', '325', '327', '331', '332', '333', '335', '336', '337',
        '338', '34', '340', '341', '342', '343', '344', '345', '346',
        '347', '348', '349', '35', '350', '351', '352', '353', '354',
        '355', '356', '357', '358', '359', '360', '362', '364', '365',
        '366', '368', '369', '372', '373', '374', '376', '377', '378',
        '379', '38', '380', '381', '382', '383', '386', '388', '389',
        '394', '395', '396', '397', '398', '40', '401', '402', '403',
        '404', '405', '41', '410', '411', '412', '413', '414', '415',
        '416', '42', '420', '421', '422', '423', '424', '425', '426',
        '427', '428', '429', '430', '431', '432', '433', '434', '435',
        '436', '437', '438', '440', '441', '442', '443', '444', '446',
        '447', '448', '451', '452', '453', '454', '455', '456', '457',
        '458', '459', '46', '460', '461', '462', '463', '464', '465',
        '466', '470', '472', '473', '474', '475', '477', '478', '480',
        '481', '482', '483', '484', '485', '486', '487', '490', '491',
        '492', '493', '494', '495', '496', '5', '500', '501', '506', '507',
        '508', '510', '511', '512', '513', '514', '515', '516', '517',
        '518', '519', '52', '520', '521', '522', '523', '524', '527',
        '528', '529', '53', '530', '531', '532', '533', '534', '535',
        '536', '537', '54', '540', '542', '543', '550', '552', '553',
        '555', '556', '557', '558', '560', '562', '564', '565', '566',
        '567', '568', '569', '570', '571', '572', '573', '574', '575',
        '576', '577', '578', '579', '580', '581', '583', '584', '585',
        '586', '588', '590', '591', '592', '593', '594', '595', '596',
        '598', '599', '600', '601', '602', '603', '604', '607', '608',
        '610', '611', '614', '615', '616', '617', '618', '619', '620',
        '621', '622', '623', '625', '626', '627', '634', '641', '642',
        '644', '645', '646', '647', '648', '649', '652', '654', '656',
        '658', '659', '66', '661', '663', '664', '665', '670', '674',
        '680', '681', '682', '683', '684', '685', '686', '691', '692',
        '693', '694', '695', '696', '698', '7', '70', '701', '702', '703',
        '705', '706', '707', '709', '710', '711', '712', '713', '714',
        '715', '716', '717', '718', '719', '721', '722', '723', '724',
        '725', '726', '727', '728', '729', '730', '731', '733', '734',
        '736', '737', '738', '741', '742', '745', '746', '747', '748',
        '75', '750', '751', '753', '754', '755', '756', '758', '759', '78',
        '780', '781', '782', '783', '784', '785', '786', '787', '788',
        '789', '79', '790', '791', '792', '793', '794', '795', '796',
        '797', '799', '8', '800', '801', '802', '805', '806', '807', '808',
        '810', '811', '812', '813', '814', '815', '816', '820', '821',
        '822', '823', '824', '825', '826', '831', '832', '833', '836',
        '837', '840', '842', '843', '844', '845', '846', '847', '850',
        '851', '852', '853', '860', '861', '862', '863', '864', '865',
        '866', '867', '868', '869', '870', '871', '872', '873', '879',
        '88', '880', '881', '882', '883', '884', '891', '892', '893',
        '894', '9', '905', '906', '907', '908', '909', '910', '911', '912',
        '913', '915', '916', '917', '918', '919', '920', '921', '922',
        '923', '924', '927', '933', '934', '94', '942', '944', '945',
        '947', '948', '952', '953', '955', '958', '959', '96', '962',
        '963', '965', '967', '968', '969', '972', '974', '975', '977',
        '980', '987', '989', '99', '990', '991', '992', '994', '995',
        '996', '997', '998', '999', 'E812', 'E813', 'E814', 'E816', 'E817',
        'E818', 'E819', 'E821', 'E826', 'E829', 'E849', 'E850', 'E853',
        'E854', 'E858', 'E868', 'E870', 'E878', 'E879', 'E880', 'E881',
        'E882', 'E883', 'E884', 'E885', 'E887', 'E888', 'E890', 'E900',
        'E905', 'E906', 'E915', 'E916', 'E917', 'E918', 'E919', 'E924',
        'E927', 'E928', 'E929', 'E930', 'E931', 'E932', 'E933', 'E934',
        'E935', 'E936', 'E937', 'E938', 'E939', 'E941', 'E942', 'E944',
        'E945', 'E947', 'E950', 'E965', 'E968', 'E980', 'V02', 'V08',
        'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17',
        'V18', 'V23', 'V25', 'V42', 'V43', 'V44', 'V45', 'V46', 'V49',
        'V50', 'V53', 'V54', 'V55', 'V57', 'V58', 'V60', 'V61', 'V62',
        'V63', 'V64', 'V65', 'V66', 'V69', 'V70', 'V72', 'V85', 'V86'],
       dtype=object),
 'diag_3': array(['11', '110', '111', '112', '115', '117', '122', '123', '131',
        '132', '135', '136', '138', '139', '14', '141', '146', '148',
        '150', '151', '152', '153', '154', '155', '156', '157', '158',
        '161', '162', '163', '164', '17', '170', '171', '172', '173',
        '174', '175', '179', '180', '182', '183', '185', '186', '188',
        '189', '191', '192', '193', '195', '196', '197', '198', '199',
        '200', '201', '202', '203', '204', '205', '208', '211', '214',
        '215', '216', '217', '218', '220', '223', '225', '226', '227',
        '228', '230', '233', '235', '236', '238', '239', '240', '241',
        '242', '243', '244', '245', '246', '250', '250.01', '250.02',
        '250.03', '250.1', '250.11', '250.12', '250.13', '250.2', '250.21',
        '250.22', '250.23', '250.3', '250.31', '250.4', '250.41', '250.42',
        '250.43', '250.5', '250.51', '250.52', '250.53', '250.6', '250.7',
        '250.8', '250.81', '250.82', '250.83', '250.9', '250.91', '250.92',
        '250.93', '251', '252', '253', '255', '256', '258', '259', '260',
        '261', '262', '263', '265', '266', '268', '27', '270', '271',
        '272', '273', '274', '275', '276', '277', '278', '279', '280',
        '281', '282', '283', '284', '285', '286', '287', '288', '289',
        '290', '291', '292', '293', '294', '295', '296', '297', '298',
        '299', '3', '300', '301', '303', '304', '305', '306', '307', '308',
        '309', '310', '311', '312', '313', '314', '315', '317', '318',
        '319', '323', '327', '331', '332', '333', '334', '335', '336',
        '337', '338', '34', '340', '341', '342', '343', '344', '345',
        '346', '347', '348', '349', '35', '350', '351', '353', '354',
        '355', '356', '357', '358', '359', '360', '361', '362', '365',
        '365.44', '366', '368', '369', '370', '372', '373', '374', '376',
        '377', '378', '379', '38', '380', '381', '382', '383', '384',
        '385', '386', '387', '388', '389', '391', '394', '395', '396',
        '397', '398', '401', '402', '403', '404', '405', '41', '410',
        '411', '412', '413', '414', '415', '416', '417', '42', '420',
        '421', '423', '424', '425', '426', '427', '428', '429', '430',
        '431', '432', '433', '434', '435', '436', '437', '438', '440',
        '441', '442', '443', '444', '445', '446', '447', '448', '451',
        '452', '453', '454', '455', '456', '457', '458', '459', '460',
        '461', '462', '463', '464', '465', '466', '47', '470', '472',
        '473', '475', '477', '478', '480', '481', '482', '483', '484',
        '485', '486', '487', '49', '490', '491', '492', '493', '494',
        '495', '496', '5', '500', '501', '506', '507', '508', '510', '511',
        '512', '514', '515', '516', '517', '518', '519', '521', '522',
        '523', '524', '525', '527', '528', '529', '53', '530', '531',
        '532', '533', '534', '535', '536', '537', '538', '54', '540',
        '542', '543', '550', '552', '553', '555', '556', '557', '558',
        '560', '562', '564', '565', '566', '567', '568', '569', '57',
        '570', '571', '572', '573', '574', '575', '576', '577', '578',
        '579', '580', '581', '582', '583', '584', '585', '586', '588',
        '590', '591', '592', '593', '594', '595', '596', '597', '598',
        '599', '600', '601', '602', '603', '604', '605', '607', '608',
        '610', '611', '614', '616', '617', '618', '619', '620', '621',
        '622', '623', '624', '625', '626', '627', '641', '642', '643',
        '644', '646', '647', '648', '649', '652', '653', '654', '655',
        '656', '657', '658', '659', '66', '660', '661', '663', '664',
        '665', '669', '670', '671', '674', '680', '681', '682', '684',
        '685', '686', '690', '692', '693', '694', '695', '696', '697',
        '698', '7', '70', '701', '702', '703', '704', '705', '706', '707',
        '708', '709', '710', '711', '712', '713', '714', '715', '716',
        '717', '718', '719', '720', '721', '722', '723', '724', '725',
        '726', '727', '728', '729', '730', '731', '732', '733', '734',
        '735', '736', '737', '738', '741', '742', '744', '745', '746',
        '747', '75', '750', '751', '752', '753', '754', '755', '756',
        '757', '758', '759', '78', '780', '781', '782', '783', '784',
        '785', '786', '787', '788', '789', '79', '790', '791', '792',
        '793', '794', '795', '796', '797', '799', '8', '800', '801', '802',
        '805', '807', '808', '810', '811', '812', '813', '814', '815',
        '816', '820', '821', '822', '823', '824', '825', '826', '831',
        '834', '836', '837', '838', '840', '841', '842', '844', '845',
        '847', '848', '850', '851', '852', '853', '854', '860', '861',
        '862', '863', '864', '865', '866', '867', '868', '870', '871',
        '872', '873', '875', '876', '877', '879', '88', '880', '881',
        '882', '883', '884', '890', '891', '892', '893', '9', '905', '906',
        '907', '908', '909', '910', '911', '912', '913', '915', '916',
        '917', '918', '919', '920', '921', '922', '923', '924', '928',
        '930', '933', '934', '935', '94', '942', '943', '944', '945',
        '948', '951', '952', '953', '955', '956', '958', '959', '962',
        '965', '966', '967', '969', '970', '971', '972', '980', '987',
        '989', '991', '992', '995', '996', '997', '998', '999', 'E812',
        'E813', 'E815', 'E816', 'E817', 'E818', 'E819', 'E822', 'E825',
        'E826', 'E828', 'E849', 'E850', 'E852', 'E853', 'E854', 'E855',
        'E858', 'E861', 'E864', 'E865', 'E870', 'E876', 'E878', 'E879',
        'E880', 'E881', 'E882', 'E883', 'E884', 'E885', 'E886', 'E887',
        'E888', 'E892', 'E894', 'E900', 'E901', 'E904', 'E905', 'E906',
        'E912', 'E915', 'E916', 'E917', 'E919', 'E920', 'E922', 'E924',
        'E927', 'E928', 'E929', 'E930', 'E931', 'E932', 'E933', 'E934',
        'E935', 'E936', 'E937', 'E938', 'E939', 'E941', 'E942', 'E943',
        'E944', 'E945', 'E946', 'E947', 'E949', 'E950', 'E955', 'E956',
        'E965', 'E966', 'E980', 'E987', 'V01', 'V02', 'V03', 'V06', 'V07',
        'V08', 'V09', 'V10', 'V11', 'V12', 'V13', 'V14', 'V15', 'V16',
        'V17', 'V18', 'V22', 'V23', 'V25', 'V27', 'V42', 'V43', 'V44',
        'V45', 'V46', 'V49', 'V53', 'V54', 'V55', 'V57', 'V58', 'V60',
        'V61', 'V62', 'V63', 'V64', 'V65', 'V66', 'V70', 'V72', 'V85',
        'V86'], dtype=object),
 'examide': array(['No'], dtype=object),
 'gender': array(['Female', 'Male', 'Unknown/Invalid'], dtype=object),
 'glimepiride': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'glimepiride-pioglitazone': array(['No', 'Steady'], dtype=object),
 'glipizide': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'glipizide-metformin': array(['No', 'Steady'], dtype=object),
 'glyburide': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'glyburide-metformin': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'insulin': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'max_glu_serum': array(['>200', '>300', 'None', 'Norm'], dtype=object),
 'metformin': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'metformin-pioglitazone': array(['No', 'Steady'], dtype=object),
 'metformin-rosiglitazone': array(['No', 'Steady'], dtype=object),
 'miglitol': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'nateglinide': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'pioglitazone': array(['Down', 'No', 'Steady', 'Up'], dtype=object),
 'race': array(['AfricanAmerican', 'Asian', 'Caucasian', 'Hispanic', 'Other'],
       dtype=object),
 'readmitted': array(['<30', '>30', 'NO'], dtype=object),
 'repaglinide': array(['Down', 'No', 'Steady', 'Up'], dtype=object),

In [0]:
df.head()

   race  gender  age  ...  change  diabetesMed  readmitted
1     2       0    1  ...       0            1           1
2     0       0    2  ...       1            1           2
3     2       1    3  ...       0            1           2
4     2       1    4  ...       0            1           2
5     2       1    5  ...       1            1           1

[5 rows x 42 columns]

In [0]:
np.unique(df['diabetesMed'])

array([0, 1])

Separate the dependent columns which are 'diabetesMed' and 'readmitted' from the other columns, which are the independents

In [0]:
target=df.loc[:,'diabetesMed':'readmitted']
target_columns=target.columns

Now, compine the columns value to create one column

In [0]:
target_code= target['diabetesMed'].map(str)+target['readmitted'].map(str)

In [0]:
target_columns,target_code

(Index(['diabetesMed', 'readmitted'], dtype='object'), 1         11
 2         12
 3         12
 4         12
 5         11
           ..
 101761    11
 101762    12
 101763    12
 101764    12
 101765    02
 Length: 100244, dtype: object)

Now, the target is one column has the values of the independents columns values

In [0]:
target

        diabetesMed  readmitted
1                 1           1
2                 1           2
3                 1           2
4                 1           2
5                 1           1
...             ...         ...
101761            1           1
101762            1           2
101763            1           2
101764            1           2
101765            0           2

[100244 rows x 2 columns]

This costom function to translate the output code for exampe the output code is 
 01010 so it means 'diabetesMed_No   readmitted_NO

In [0]:
def translate_output_code(code):
  result = ''
  result= '{0} {1} {2} {3}'.format(result,' ','Diabetes: ',attr_their_cat['diabetesMed'][int(code[0])])
  result= '{0} {1} {2} {3}'.format(result,' ','Readmitted: ',attr_their_cat['readmitted'][int(code[1])])
  return result.strip()

In [0]:
np.unique(target_code)

array(['00', '01', '02', '10', '11', '12'], dtype=object)

In [0]:
translate_output_code('11')

'Diabetes:  Yes   Readmitted:  >30'

In [0]:
df.drop(target_columns,axis=1,inplace=True)

In [0]:
df.head()

   race  gender  age  ...  metformin-rosiglitazone  metformin-pioglitazone  change
1     2       0    1  ...                        0                       0       0
2     0       0    2  ...                        0                       0       1
3     2       1    3  ...                        0                       0       0
4     2       1    4  ...                        0                       0       0
5     2       1    5  ...                        0                       0       1

[5 rows x 40 columns]

In [0]:
indpnt_att = df

In [0]:
std_scale=StandardScaler()
indpnt_att=std_scale.fit_transform(indpnt_att)

In [0]:
indpnt_att[0]

array([ 3.15833138e-01, -9.26796782e-01, -3.29017640e+00, -4.74808390e-01,
        8.03716121e-01, -7.89217071e-01,  2.31898547e-01, -2.92418450e-01,
       -2.13183339e-01, -5.06403636e-01, -1.21796503e+00, -1.30824753e+00,
       -9.09073998e-01,  8.17053313e-01,  5.19254863e-02,  2.02672122e-01,
       -4.49558647e-01, -1.14419770e-01, -7.99293645e-02, -2.75307419e-02,
       -2.09726574e-01, -3.15844248e-03, -3.33598717e-01, -2.95840191e-01,
       -1.51490205e-02, -2.65709860e-01, -2.48240426e-01, -5.33980212e-02,
       -1.49329871e-02, -5.47063742e-03, -1.89802802e-02,  0.00000000e+00,
        0.00000000e+00,  1.90257779e+00, -8.16634528e-02, -1.13886080e-02,
       -3.15844248e-03, -4.46673447e-03, -3.15844248e-03, -1.07827097e+00])

#Create Train and Testing sets

In [0]:
x_train,x_test,y_train,y_test = train_test_split(indpnt_att,target_code,test_size=0.30,random_state=57)

In [0]:
x_train.shape,y_train.shape

((70170, 40), (70170,))

In [0]:
x_test.shape,y_test.shape

((30074, 40), (30074,))

#Random Forest

In [0]:
rf_model = RandomForestClassifier(n_estimators=200,random_state=57)
rf_model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=57, verbose=0,
                       warm_start=False)

In [0]:
rf_model.score(x_test,y_test)

0.5690962293010574

In [0]:
rf_cross_score = cross_val_score(rf_model,x_test,y_test,cv=6)
rf_cross_score

array([0.56313585, 0.57031718, 0.56384677, 0.56025539, 0.56703911,
       0.56783719])

In [0]:
rf_cross_score.mean()

0.5552637364719248

##SVM Model

In [0]:
svc_model=SVC(random_state=57)
svc_model.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=57, shrinking=True, tol=0.001,
    verbose=False)

In [0]:
svc_model.score(x_test,y_test)

0.5741504289419432

In [0]:
svc_cross_score=cross_val_score(svc_model,x_test,y_test,cv=6 )
svc_cross_score

array([0.56852184, 0.56612807, 0.5736233 , 0.56544294, 0.56803671,
       0.57881085])

In [0]:
svc_cross_score.mean()

0.5700939528494868

In [0]:
sgd_model = SGDClassifier(random_state=57)
sgd_model.fit(x_train,y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=57, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [0]:
sgd_model.score(x_test,y_test)

0.5511072687371151

In [0]:
sgd_cross_score = cross_val_score(sgd_model,x_test,y_test,cv=6)
sgd_cross_score

array([0.54338719, 0.5443846 , 0.54449322, 0.54888268, 0.55267358,
       0.5442937 ])

In [0]:
sgd_cross_score.mean()

0.5463524949523365